<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Administrator Dashboard</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Administrator</a>
    
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <button class="btn btn-primary" type="button">Dashboard</button>
            </li>
        </ul>
    </div>
</nav>

<div class="container mt-4">
    <div class="row">
        <!-- Title and Search -->
        <div class="col-md-6">
            <h2 class="float-left">ALL TRACKS</h2>
            <button class="btn btn-secondary float-right">Search</button>
        </div>
    </div>

    <!-- Scrollable Cards -->
    <div class="row mt-3">
        <!-- Genre 1 Card -->
        <div class="col-md-6">
            <div class="card overflow-auto bg-light" style="max-height: 300px;">
                <div class="card-body d-flex justify-content-between">
                    <h5 class="card-title">Genre 1</h5>
                    
                    <!-- "Show More" button -->
                    <button class="btn btn-info">Show More</button>
                </div>
                
                <!-- Track Cards within Genre Card -->
                <div class="card mt-2">
                    <div class="card-body">
                        <h5 class="card-title">Track 1</h5>
                        <button class="btn btn-primary">View Lyrics</button>
                        <button class="btn btn-danger float-right">Delete</button>
                    </div>
                </div>
                
                <div class="card mt-2">
                    <div class="card-body">
                        <h5 class="card-title">Track 2</h5>
                        <button class="btn btn-primary">View Lyrics</button>
                        <button class="btn btn-danger float-right">Delete</button>
                    </div>
                </div>
                <!-- Add more track cards as needed -->
            </div>
        </div>

        <!-- Genre 2 Card -->
        <div class="col-md-6">
            <div class="card overflow-auto bg-light" style="max-height: 300px;">
                <div class="card-body d-flex justify-content-between">
                    <h5 class="card-title">Genre 2</h5>
                    
                    <!-- "Show More" button -->
                    <button class="btn btn-info">Show More</button>
                </div>
                
                <!-- Track Cards within Genre Card -->
                <div class="card mt-2">
                    <div class="card-body">
                        <h5 class="card-title">Track 1</h5>
                        <button class="btn btn-primary">View Lyrics</button>
                        <button class="btn btn-danger float-right">Delete</button>
                    </div>
                </div>
                
                <div class="card mt-2">
                    <div class="card-body">
                        <h5 class="card-title">Track 2</h5>
                        <button class="btn btn-primary">View Lyrics</button>
                        <button class="btn btn-danger float-right">Delete</button>
                    </div>
                </div>
                <!-- Add more track cards as needed -->
            </div>
        </div>
    </div>

    <!-- Additional Genre Cards Below Genre 1 and Genre 2 -->
    <div class="row mt-3">
        <!-- Genre 3 Card -->
        <div class="col-md-6">
            <div class="card overflow-auto bg-light" style="max-height: 300px;">
                <div class="card-body d-flex justify-content-between">
                    <h5 class="card-title">Genre 3</h5>
                    
                    <!-- "Show More" button -->
                    <button class="btn btn-info">Show More</button>
                </div>
                
                <!-- Track Cards within Genre Card -->
                <div class="card mt-2">
                    <div class="card-body">
                        <h5 class="card-title">Track 1</h5>
                        <button class="btn btn-primary">View Lyrics</button>
                        <button class="btn btn-danger float-right">Delete</button>
                    </div>
                </div>
                
                <div class="card mt-2">
                    <div class="card-body">
                        <h5 class="card-title">Track 2</h5>
                        <button class="btn btn-primary">View Lyrics</button>
                        <button class="btn btn-danger float-right">Delete</button>
                    </div>
                </div>
                <!-- Add more track cards as needed -->
            </div>
        </div>

        <!-- Genre 4 Card -->
        <div class="col-md-6">
            <div class="card overflow-auto bg-light" style="max-height: 300px;">
                <div class="card-body d-flex justify-content-between">
                    <h5 class="card-title">Genre 4</h5>
                    
                    <!-- "Show More" button -->
                    <button class="btn btn-info">Show More</button>
                </div>
                
                <!-- Track Cards within Genre Card -->
                <div class="card mt-2">
                    <div class="card-body">
                        <h5 class="card-title">Track 1</h5>
                        <button class="btn btn-primary">View Lyrics</button>
                        <button class="btn btn-danger float-right">Delete</button>
                    </div>
                </div>
                
                <div class="card mt-2">
                    <div class="card-body">
                        <h5 class="card-title">Track 2</h5>
                        <button class="btn btn-primary">View Lyrics</button>
                        <button class="btn btn-danger float-right">Delete</button>
                    </div>
                </div>
                <!-- Add more track cards as needed -->
            </div>
        </div>
    </div>

    <!-- Add more content as needed -->
</div>

<!-- Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>
