<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>User's Home Page</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">User's Home Page</a>
    
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <button class="btn btn-secondary mr-2" type="button">Search</button>
            </li>
            <li class="nav-item">
                <button class="btn btn-primary mr-2" type="button">Creator Account</button>
            </li>
            <li class="nav-item">
                <button class="btn btn-info mr-2" type="button">Profile</button>
            </li>
            <li class="nav-item">
                <button class="btn btn-danger mr-2" type="button">Logout</button>
            </li>
        </ul>
    </div>
</nav>

<div class="container mt-4">
    <!-- New Playlists Section -->
    <div>
        <h4>New Playlists</h4>
        <!-- Text Area with Watermark -->
        <textarea class="form-control" rows="1" placeholder="Enter Playlists Name"></textarea>
    </div>

    <!-- Song Cards Section -->
    <div class="mt-4">
        <h4>Song Selection</h4>
        
        <!-- Song Name Card 1 -->
        <div class="card mb-2">
            <div class="card-body d-flex justify-content-between">
                <span>Song Name 1</span>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                    <label class="form-check-label" for="defaultCheck1">
                        Select
                    </label>
                </div>
            </div>
        </div>

        <!-- Song Name Card 2 with 3 units distance -->
        <div class="card mb-3">
            <div class="card-body d-flex justify-content-between">
                <span>Song Name 2</span>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck2">
                    <label class="form-check-label" for="defaultCheck2">
                        Select
                    </label>
                </div>
            </div>
        </div>

        <!-- Song Name Card 3 with 3 units distance -->
        <div class="card mb-3">
            <div class="card-body d-flex justify-content-between">
                <span>Song Name 3</span>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck3">
                    <label class="form-check-label" for="defaultCheck3">
                        Select
                    </label>
                </div>
            </div>
        </div>

        <!-- Song Name Card 4 with 3 units distance -->
        <div class="card mb-3">
            <div class="card-body d-flex justify-content-between">
                <span>Song Name 4</span>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck4">
                    <label class="form-check-label" for="defaultCheck4">
                        Select
                    </label>
                </div>
            </div>
        </div>

        <!-- ADD Button -->
        <button class="btn btn-primary mx-auto d-block mt-3">ADD</button>
    </div>
</div>

<!-- Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>
